<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chronos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="assemblies" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro.Platform" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Chronos.Properties.Settings>
      <setting name="SaveInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DailyWork" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="MaxDailyWork" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reminder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReminderThreshold" serializeAs="String">
        <value>8.5</value>
      </setting>
      <setting name="EndWorkReminderInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ReminderSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeOnClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomExportFolder" serializeAs="String">
        <value />
      </setting>
    </Chronos.Properties.Settings>
  </userSettings>
</configuration>