<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.210" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="4.0.210" targetFramework="net48" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.3.0" targetFramework="net48" />
  <package id="FluentDateTime" version="2.1.0" targetFramework="net48" />
  <package id="FluentScheduler" version="5.5.1" targetFramework="net48" />
  <package id="Gu.Wpf.NumericInput" version="0.5.5" targetFramework="net48" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net48" />
  <package id="HotkeyListener" version="1.9.0" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.SimpleChildWindow" version="2.0.0" targetFramework="net48" />
  <package id="Metro.Dialogs" version="0.0.0.2" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Nager.Date" version="1.32.0" targetFramework="net48" />
  <package id="NanoXLSX" version="1.8.6" targetFramework="net48" />
  <package id="NLog" version="5.0.1" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net48" />
  <package id="Salaros.ConfigParser" version="0.3.8" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net48" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net48" />
</packages>